{% extends "base.html" %}
{% block body %}
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="#">{{ item.author_id }}</a>
      </li>
    </ul>
  </div>
    <div class="container">
  <div class="row">
     <div class="card-header">
          <img src="{{ item.img }}" class="card-img-top" alt="...">
      </div>
  </div>
    </div>
  <div class="card-body">
          <div class="card">
 {{ item.title }}
  </div>
    <p class="card-text">{{ item.body }}</p>
      <p class="card-text">Адресс:{{ item.address}}</p>
    <p class="card-text">Телефон:{{ item.address}}</p>

</div>
{% endblock %}

